.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 792px;
  background-color: #303030;
  width: 220px;
  border-radius: 12px;
  position: fixed;
  top: 80px;
  left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.sidebar div {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  margin-bottom: 8px;
}

.sidebar div:hover {
  background-color: #2b83ca;
}

.sidebar .active {
  background-color: #2b83ca;
  color: white;
}

.sidebar div:not(.active) {
  background-color: #555555;
}

mat-icon {
  margin-right: 10px;
  color: #fff;
}
