<div class="summary-container">
    <div class="tiles">
      <div class="tile balance">
        <div class="amount">$12,000</div>
        <div class="label">Total Balance</div>
      </div>
      <div class="tile income">
        <div class="amount">$7,500</div>
        <div class="label">Total Income</div>
      </div>
      <div class="tile expenses">
        <div class="amount">$5,000</div>
        <div class="label">Total Expenses</div>
      </div>
    </div>
  
    <div class="monthly-table">
      <div class="table-header">
        <div class="cell">Month</div>
        <div class="cell">Income</div>
        <div class="cell">Expenses</div>
      </div>
      <div
        class="table-row"
        *ngFor="let month of monthlyData"
        (click)="onMonthClick(month)"
      >
        <div class="cell">{{ month.name }}</div>
        <div class="cell">${{ month.income }}</div>
        <div class="cell">${{ month.expense }}</div>
      </div>
    </div>
  </div>
  